span
	md-card
		img#bigPicture.md-card-image(layout="row" ng-src="{{profile.bigPicture}}")
		span#smallPicture(layout="row" layout-margin)
			md-card(flex="")
				span(layout-padding)
					img(ng-src="{{profile.smallPicture}}")
			span#name.md-title(flex="") {{profile.login.user.name}}
		md-card-content#actionBar
			div.md-actions(layout="row" layout-align="end center"
				ng-hide="profile.$mdMedia('sm')"
				)
				md-button.md-icon-button(aria-label="[Friends]" 
					ng-click="profile.viewFriends()"
					)
					md-icon(md-font-icon="fa fa-user fa-lg") {{profile.friends}} 
				md-button.md-icon-button(aria-label="[Groups]"
					ng-click="profile.viewGroups()"
					)
					md-icon(md-font-icon="fa fa-users fa-lg") {{profile.groups}}
				md-button.md-icon-button(aria-label="[Posts]"
					ng-click="profile.viewPosts()"
					)
					md-icon(md-font-icon="fa fa-comments fa-lg") {{profile.posts}}
				md-button.md-icon-button(aria-label="[Photos]"
					ng-click="profile.viewPhotos()"
					)
					md-icon(md-font-icon="fa fa-picture-o fa-lg") {{profile.photos}}
	md-card(layout-margin layout-padding)
		.md-card-content(flex="") Profile content
